<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Admin.css">
	<script type="text/javascript" src="Login.js"></script>
</head>
<body>
   <div class="header">
   	  <h1 id="login">ADMIN <br>Login</h1>
   </div>
<!--    form-group
   form-control -->
   <form action="#" method="GET">
   	  <div id="abc" class="form-group">
   	  	  <h3>Sign In<span class="glyphicon glyphicon-user"></span></h3>
   	  	  <p>Fill in the Form below to get instant access</p>
   	  </div>
   	  <div class="form-group"id="SETFORM">
   	   <div class="inner-addon right-addon">
   	  	<label for="email"></label>
	    <i class="glyphicon glyphicon-user"></i>
	    <input type="email" id="email" class="form-control" placeholder="User Name" required>
	   </div>
	    <div class="inner-addon right-addon">
	    	<label for="password"></label>
	     <i class="glyphicon glyphicon-lock"></i>
	     <input id="password" type="password" class="form-control" placeholder="Password" minlength="8" required >
	    </div></div>
  	    <button class="btn btn-danger btn-lg"onclick="validate()">Submit</button><br>
<!--    	  <p id="check">Email is :aliakbarlundbaloch@gmail.com</p>
   	  <p id="check">PassWord is :Aliakbar</p> -->
   	  <a href="reset.html">Click Here To Reset Your Password</a><br>
   	  <a href="newAccount.html">Click Here To Create a New Admin Account</a>
   </form>
</body>
</html>
