<!DOCTYPE html>
<html>
<head>
	<title>Customer</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body{
			text-align: center;
			padding-top: 0px;
			background-image: url(a1.jpg);
		}
		.glyphicon-tint{
			color: red;
			font-size: 40px;
		}
		.thumbnail{ 
			margin-top: 5%;
			background: rgb(255, 26, 26);
			width: 100px;
			height: 100px;
		}
     h1,h2,h5{
     	color: white;
     }
     h5{
     	margin-left: 20%;
     	margin-right: 20%;
     }

	</style>
</head>
<body>
  	
	  	<h1 ><strong>Happy Customers</strong></h1>
	  	<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
	      <center>
	        <div class="thumbnail">
	         <img src="L1.jpeg">	
	        </div>
	      </center>
            <h1>Ali Akbar</h1>
              <h2>Managing Director</h2>
              <h5>Mei ut errem legimus periculis,eos liber epicurei necessitatibus eu,facilisi postulant vel no.Ad mea commune disputando, cu vel choro exerci.Pri et oratio lisque atomorum,enim detracto mei ne,id eos soleat iudicabit.Ne reque reformidans mei,rebum delicata consequuntur an sit</h5>
         <button class="btn btn-danger btn-sm"><a href="page1.html" style="color: white">See more</a></button>

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>