<!DOCTYPE html>
<html>
<head>
	<title>Donor</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body{
			padding-top: 0px;
			background-color: white;
		}
		.jumbotron{
			color:black;
			background:white;
			text-align: center;
			font-weight: bold;
		}
		.glyphicon-tint{
			color: red;
			font-size: 40px;
		}
		.thumbnail{
		
			color: black;
	/*		background-color: rgb(227,27,35);*/
		}

	</style>
</head>
<body>
  	<div class="container">
	  <div class="jumbotron">
	  	<h1 ><strong>Latest News</strong></h1>
	  	<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
	  </div>
<!-- 	   <button class="btn btn-danger btn-sm"><a href="RecentAgents2.html"></a>></button> -->
	  <div class="row">
	  	<div class="col-lg-4 col-sm-6">
	  		<div class="thumbnail">
	  			<img src="L4.jpeg" style="width: 170px">
	  			<h3><strong>Liber utroue vim an ne his brute</strong></h3>
	  			  <h5>Category: <b>Residential</b></h5>
	  			   <h5>Date: 05-09-2017</h5>
	  			    <h5>Lorem ipsum dolor sit amet,qui case probo velit no,an postea scaevola partiendo mei.Id mea fuisset perpetua referr...</h5>
	  		</div>
	  	</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail">
			  <img src="L2.jpeg" style="width: 250px">
			  <h3><strong>Vix tale noluisse voluptua ad ne</strong></h3>
	  			  <h5>Category: <b>Residential</b></h5>
	  			   <h5>Date: 05-09-2017</h5>
	  			    <h5>Lorem ipsum dolor sit amet,qui case probo velit no,an postea scaevola partiendo mei.Id mea fuisset perpetua referr...</h5>

			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail">
			   <img src="L3.jpeg" style="width: 195px">
			   <h3><strong>Omnes ornatus qui et te aeterno</strong></h3>
	  			  <h5>Category: <b>Residential</b></h5>
	  			   <h5>Date: 05-09-2017</h5>
	  			    <h5>Lorem ipsum dolor sit amet,qui case probo velit no,an postea scaevola partiendo mei.Id mea fuisset perpetua referr...</h5>

			</div>
		</div>

	  
	  </div>  <!-- Row -->

  </div> <!--Container -->

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>