<!DOCTYPE html>
<html>
<head>
	<title>Agents</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body{
			padding-top: 0px;
			background-color: white;
		}
		.jumbotron{
			color:black;
			background:white;
			text-align: center;
			font-weight: bold;
		}
		.glyphicon-tint{
			color: red;
			font-size: 40px;
		}
		.thumbnail{
			text-align: center;
			background: rgb(255, 26, 26);
			color: white;
	/*		background-color: rgb(227,27,35);*/
		}

	</style>
</head>
<body>
  	<div class="container">
	  <div class="jumbotron">
	  	<h1 ><strong>Recent Agents</strong></h1>
	  	<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
	  </div>
<!-- 	   <button class="btn btn-danger btn-sm"><a href="RecentAgents2.html"></a>></button> -->
	  <div class="row">
	  	<div class="col-lg-3 col-sm-6">
	  		<div class="thumbnail">
	  			<img src="L1.jpeg" style="height: 210px">
	  			<h1><strong>Bob Builder</strong></h1>
	  			<h5>Designation: Telemarketer</h5>
	  			<h5>Organization: Linens And Things</h5>
	  			<i class="fa fa-facebook-official" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-twitter-square" style="font-size:24px;color:white"></i>
	  			<i class="fa fa-linkedin" style="font-size:24px;color:white"></i>
	  			<i class="fa fa-pinterest-square" style="font-size:24px;color:white"></i><br>
	  			<button class="btn btn-danger btn-lg" style="width: 80%px ;background-color: black">Read more</button>
	  		</div>
	  	</div>
		<div class="col-lg-3 col-sm-6">
			<div class="thumbnail">
			  <img src="L2.jpeg">
			  <h1><strong>Miller hazen</strong></h1>
	  			<h5>Designation: Mail Process Operator</h5>
	  			<h5>Organization: The Fox And Hound</h5>
	  			<i class="fa fa-facebook-official" style="font-size:24px;colowhite"></i>
	  			<i class="fa fa-twitter-square" style="font-size:24px;color:white"></i>
	  			<i class="fa fa-linkedin" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-pinterest-square" style="font-size:24px;color: white"></i><br>
	  			<button class="btn btn-danger btn-lg" style="width: 80%px ;background-color: black">Read more</button>

			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="thumbnail">
			   <img src="L3.jpeg" style="height: 200px">
			   <h1><strong>Teryus</strong></h1>
	  			<h5>Designation: System Engineer</h5>
	  			<h5>Organization: Afforda</h5>
	  			<i class="fa fa-facebook-official" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-twitter-square" style="font-size:24px;color:white"></i>
	  			<i class="fa fa-linkedin" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-pinterest-square" style="font-size:24px;color: white"></i><br>
	  			<button class="btn btn-danger btn-lg" style="width: 80%px ;background-color: black">Read more</button>
			</div>
		</div>
		  
		  <div class="col-lg-3 col-sm-6">
			<div class="thumbnail">
			   <img src="L4.jpeg" style="height: 200px">
			   <h1><strong>Jhon Smith</strong></h1>
	  			<h5>Designation: Sales Officer</h5>
	  			<h5>Organization: BB Hospital</h5>
	  			<i class="fa fa-facebook-official" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-twitter-square" style="font-size:24px;color:white"></i>
	  			<i class="fa fa-linkedin" style="font-size:24px;color: white"></i>
	  			<i class="fa fa-pinterest-square" style="font-size:24px;color: white"></i><br>
	  			<button class="btn btn-danger btn-lg" style="width: 80%px ;background-color: black">Read more</button>
			</div>
		  </div>
	  
	  </div>  <!-- Row -->

  </div> <!--Container -->

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>